<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tubes.lana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lana"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lana"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LapotikMenuActivity"></activity>
        <activity android:name=".DriverActivity" />
        <activity android:name=".PesananActivity" />
        <activity
            android:name=".LaminderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PengirimanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:value="com.example.tubes.lana.LapotikActivity" />
        </activity>
        <activity
            android:name=".PembayaranActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tubes.lana.LapotikActivity" />
        </activity>
        <activity android:name=".ObatDetailActivity" />
        <activity android:name=".LapotikActivity" />
        <activity android:name=".LahragaActivity" />
        <activity android:name=".LamasiDetailActivity" />
        <activity android:name=".LamasiActivity" />
        <activity android:name=".CallCenterActivity" />
        <activity
            android:name=".PanduanDetailActivity"
            android:label="@string/title_activity_panduan_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".PanduanActivity" />
        <activity
            android:name=".BerandaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>